h1 {
  text-align: center;
}

body {
}

input[type=submit] {
  margin-top: 3px;
  padding:5px 30px;
  background: #ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #999;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 50px;
}

input[type=submit]:hover {
  background:#aaa;
  color: #555;
}

#all {

}

#dropArea {
    overflow: hidden;
    padding: 40px 10px;
    background: #ddd;
    border: 3px #666 dashed;
    color: #999;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  
  #dropArea.dragover,
  #dropArea:active {
    background: #cfc;
    border-color: #9c9;
    color: #9c9;
  }
  
  #fileInput {
    display: none;
  }
  
  /* #output img {
    display: block;
    margin: 15px auto;
  } */

  #predict {
    background-color: #ccc;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: #e37;
    height: 64px;
  }

  #predict p {
    line-height: 64px;
  }

  #predict img {
    margin: 7px;
    float: left;
  }

  #child {
    background-color: #ddd;
  }